html{
    background-color: darkslategrey;
}

.container-fluid{
    background-color: darkslategrey;
}

input[type='text']{
    background: transparent;
    color: yellow;
}

input[type='text']:focus{
    background: transparent;
    color: yellow;
}

.text-center{
    color: turquoise;
}
